.container {
    width: 1200px;
    margin: 25px auto 0;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #575656;
}

img {
    border-radius: 5px;
}

.title {
    margin: 10px 0 10px 25px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.section {
    width: 60%;
    padding: 0 25px;
}

.aside {
    width: 40%;
}

.symbol {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px 0;
}

.symbol img{
    width: 200px;
    
}

.upper_box_photo {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

.upper_box_photo img {
    width: 200px;
    
}

.bottom_box_photo {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.bottom_box_photo img {
    width: 130px;
}